<head>
    <!--  Domain Title Page  -->
    <title>Imagine Salon Brookfield</title>

    <!--  Load Configuration Libraries into Main.php -->
    <script src="config/libraries/jquery/dist/jquery.min.js"></script>

    <!--  AngularJs Libraries -->
    <script src="config/libraries/angular/angular/angular.js"></script>
    <!--  AngularJs Modules  -->
    <script src="config/libraries/angular/angular-route/angular-route.min.js"></script>
    <script src="config/router/routes.js"></script>
    <!--  Custom AngularJs Modules  -->
    <script src="app/view/js/controllers/login.js"></script>        <!-- loginController -->
    <script src="app/view/js/controllers/inventory.js"></script>    <!-- inventoryController -->

    <!--  StyleSheets & Dependencies  -->
    <script src="config/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootswatch 'Flatly' Theme -->
    <link rel="stylesheet" type="text/css" href="config/libraries/bootswatch/flatly/bootstrap.min.css" />
    <!--  Custom StleSheet  -->
    <link rel="stylesheet" type="text/css" href="app/view/styles/css/style.css" />
     <script>
    $(document).ready(function () {
        $('.navs li').click(function () {
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
        });
    });
</script>
</head>