<head>
    <title>Imagine Salon Brookfield</title>
    <script src="app/view/js/jquery/dist/jquery.min.js"></script>
    <script src="app/view/js/angular/angular/angular.js"></script>
    <script src="app/view/js/angular/angular-route/angular-route.min.js"></script>
    <script src="config/router/routes.js"></script>
    <script src="app/view/js/controllers/controllers.js"></script>
    <script src="app/view/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="app/view/styles/bootswatch/flatly/bootstrap.min.css" />
</head>


