<br>
<br>
<!--  Global Navigation: Primary Navigation Tabs -->
<nav>
    <!--  Bootswatch Navigation Tab Classes  -->
    <ul class="nav nav-tabs">

        <!--  Navigation Tabs (AngularJs routes to files located in the templates folder) -->
        <li class="active"><a href="#/home" data-toggle="tab">Dashboard</a></li>
        <li><a href="#/calendar" data-toggle="tab">Calendar</a></li>
        <li><a href="#/customers" data-toggle="tab">Customers</a></li>
        <li><a href="#/inventory" data-toggle="tab">Inventory</a></li>

        <!--  Settings Dropdown Menu  -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">Settings <span class="caret"></span</a>
            <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">Company</a></li>
                <li class="divider"></li>
                <li><a href="#dropdown2" data-toggle="tab">Service</a></li>
                <li><a href="#dropdown2" data-toggle="tab">Staff</a></li>
                <li><a href="#dropdown2" data-toggle="tab">Resource</a></li>
                <li class="divider"></li>
                <li><a href="#dropdown2" data-toggle="tab">Promotions</a></li>
                <li><a href="#dropdown2" data-toggle="tab">Calendar</a></li>
                <li><a href="#dropdown2" data-toggle="tab">Messages</a></li>
                <li><a href="#dropdown2" data-toggle="tab">Online Booking</a></li>
            </ul>
        </li>

        <li><a href="#/reports" data-toggle="tab">Reports</a></li>
    </ul>
    <!--  /.nav nav-tabs  -->
</nav>
</header>