/*********** HTML Tag Elements *************/

main {
    padding: 2%;
}

content {
    margin: 1.9%;
    float: left;
}

fieldset {
    width: 100%;
}


/*********** Classes *************/

.jumbotron {
    padding: 0.5%;
}

.modal {
    overflow: auto;
}

.icon {
    height: 4%;
}

.inventory-form-headers {
    text-align: center;
}

.filter-results:nth-of-type(7) {
    width: 10%;
}

.add-line-btn {
    border-radius: 100%;
    top: 5%;
}
/*********** ID's *************/

#logo {
    height: 380%;
    box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.7);
}

#inventory-form-container {
    height: 125px;
}

#inventory-filter div {
    float: left;
    margin: 0.5%;
}

#inventory-form-submit {
    height: 15%;
    float: right;
    width: 105%;
    margin: 1%;
}

/*********** Media Screens *************/

@media screen and (max-width: 768px) {
    #dropdown-menu-profile {
        top: 31px;
    }
    .filter-results:nth-of-type(7) {
    width: 24%;
    }
}

@media screen and (max-width: 1326px) {
    content {
        text-align: center;
    }
    content a {
        width: 100%;
        margin: 1%;
    }
    content:last-of-type {
        text-align: center;
    }
    #inventory-form-container {
        display: inline-flex;
        height: 200px;
    }
}
#assess-products-options a {
    width: 30%;
    margin: 1%;
    text-align: center;
}
#assess-products-options a:first-of-type, 
#assess-products-options a:nth-of-type(4) {
    margin-left: 2.5%;
}